/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/api/
/build/code-browser/
/build/coverage/
/build/logs/
/build/pdepend/
/build/phpdox/
/bin/
/vendor/
/bin/
/composer.phar
/.idea/
