<!DOCTYPE HTML>
<html>
    <head>
        <title>Test File Upload</title>
    </head>
    <body>
        <form action="{{ path('upload_coverage') }}" method="POST" enctype="multipart/form-data" novalidate>
            {{ form(form) }}
        </form>
    </body>
</html>
