<!DOCTYPE HTML>
<html>
    <head>
        <title>Test File Upload</title>
    </head>
    <body>
        <form action="{{ path('upload_coverage') }}" method="POST" novalidate>
            {{ form(form) }}
<!--            <input type="file" name="coverage">

            <input type="submit" value="Upload">-->
        </form>
    </body>
</html>
